.container{
    background-color: aqua;
    /* width: 300px; */
    display: flex;
    height: auto;
    /* flex-direction: column-reverse; */
    flex-wrap: wrap;
    /* Horizontal alighnment */
    /* left center right space-around, space-between, space-commonly */
    /* justify-content: space-evenly; */

    /* flex-strat, flex-end,center */
    /* vertical alighnment */
    align-items: flex-start;

}
.box{
    border: 1px solid black;
    background-color: rgb(165, 70, 70);
    margin: 3px;
    width: 100px;
    height: 100px;
    background-image: url(../../img/flower3.png);
 }
#box1{
    flex-grow: 1;

}
#box2{
    flex-grow: 3;
}
#box3{
    flex-shrink: 2;
}
#box4{
    flex-shrink: 4;
}
